<!DOCTYPE html>
<html>
    <head> <!--나중에 경로 바꿔야됨-->
        <title>User guide page</title>
        <link rel="stylesheet" href="/css/guide.css">
        <link rel="stylesheet" href="/css/footer.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/js/guide.js"></script>

        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="section0" class="section section0">
            <video src="media/guide_bg_video.mp4" autoplay loop></video>
            <div class="contents contents0">
                <a href="/"><img class="logo" src="media/logo_white_shadow.png"></a><!--로고-->
                <div class="section0_text">
                    <h1>Welcome</h1><br>
                    Thank you for visiting <b>it there</b> web site.<br>
                    <b>it there</b> helps you to find the products you want.<br>
                    If you want to know how to use our web site click <a href="#section1">this</a>.<br>
                    
                </div>
            </div>
        </div>

        <div id="section1" class="section section1">
            <img class="bgimg" src="/media/guide_shoppingcentre.jpg" alt="">
            <div class="contents contents1">
                <div class="title">
                    How To Use
                     <p>click the button for instructions</p>
                </div>
                <div class="btn_group">
                    <button id="u_button"><p>USER</p></button>
                    <button id="m_button"><p>MANAGER</p></button>
                </div>
                <div id="u_wrapper">
                    <div class="u_guide guide0">
                        <img width="20%" src="/media/search_black.png" alt="">
                        <p>search</p>
                        <div class="guide_img"><img src="/media/guide_search.png" alt="" width="100%"></div>
                        <p style="font-size: 20px;">
                            원하는 상품과 방문하고자 하는 매장을 검색해보세요.
                        </p>
                    </div>
                    <div class="u_guide guide1">
                        <img width="20%" src="/media/cart.png" alt="">
                        <p>cart</p>
                        <div class="guide_img"><img src="/media/guide_cart.png" alt=""width="100%"></div>
                        <p style="font-size: 20px;">매장에 직접 방문하거나 장바구니에 담아 it there을 통해 구매해보세요.</p>
                    </div>
                    <div class="u_guide guide2">
                        <img width="20%" src="/media/chatting.png" alt="">
                        <p>chatting</p>
                        <div class="guide_img"><img src="/media/guide_chatting.png" alt=""width="100%"></div>
                        <p style="font-size: 20px;">판매자와 실시간 채팅도 할 수 있어요.</p>
                        </div>
                </div>
                <div id="m_wrapper">
                    <div class="m_guide">
                        <img width="20%" src="/media/store.png" alt="">
                        <p>store</p>
                        <div class="guide_img"><img src="/media/guide_market.png" alt=""width="100%"></div>
                        <p style="font-size: 20px;">매장관리</p>
                    </div>
                    <div class="m_guide">
                        <img width="20%" src="media/product.png" alt="">
                        <p>product</p>
                        <div class="guide_img"><img src="/media/guide_product.png" alt=""width="100%"></div>
                        <p style="font-size: 20px;">재고관리</p>
                    </div>
                    <div class="m_guide">
                        <img width="20%" src="/media/chatting.png" alt="">
                        <p>chatting</p>
                        <div class="guide_img"><img src="/media/guide_chatting.png" alt=""width="100%"></div>
                        <p style="font-size: 20px;">구매자와 채팅</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="section2" class="section section2">
            <img class="bgimg" src="/media/guide_teamwork.jpg" alt="">

            <div class="mem mem0">
                <div class="pop mem0_pop">
                    <img src="/media/logo_white_shadow.png" alt="">
                    <p class="select_p"> 소비자가 오프라인에서 물건을 구매할 때 더 쉽고 빠르게 물건을 찾을 수 있도록 도와줄 수 있는 웹 사이트를 만드는 것이였다. 
                        특정 상품을 어떤 매장에서 구매할 수 있는지, 어디에 있는지 알려줄 수 있는 표지판이 되고 싶다는 뜻에서 itThere라는 이름은 “it(그것) There(저기에)” 라는 함축적인 의미와, “그 물건 여기에 있대여(itThere)” 라는 언어유희적인 의미를 동시에 포함하고 있다. 
                        </p>
                </div>
            </div>
            <div class="mem mem1">
                <h1 class="select">dp.wl</h1>
                <div class="pop mem1_pop">
                    <img src="/media/mem_img.png" alt="">
                    <p class="select_p">이미지 인식 기술을 통한 QUAGGA API를 이용한 바코드 인식 구현, 바코드 제작 기능, 가이드 페이지 작성 및 제작, 애니메이션 구현 및 데이터베이스 구성 및 연동</p>
                </div>
            </div>
            <div class="mem mem2">
                <h1 class="select">heo.sua.b</h1>
                <div class="pop mem2_pop">
                    <img src="/media/mem_img.png" alt="">
                    <p class="select_p">UI/UX 디자인, 전체 페이지 생성 및 연결, 로그인/회원가입 구현, SOKET IO 이용한 채팅 및 장바구니 구매, MYPAGE 고객 정보 수정, 데이터베이스 연결</p>
                </div>
            </div>
            <div class="mem mem3">
                <h1 class="select">ssuyne</h1>
                <div class="pop mem3_pop">
                    <img src="/media/mem_img.png" alt="">
                    <p class="select_p">전체 서버 구성 및 카카오맵 API 지도 표현, 고객 상품, 매장 검색 구현, 관리자의 매장 등록 및 수정 기능, 상품 추가 및 재고 관리, 라우터 분리 및 클라우드 관리, 전체 데이터베이스 구축 및 데이터베이스 연동 </p>
                </div>
            </div>
        </div>

        <div class="scroll"> 
                <ul>
                    <li><a href="#section0"><img class="scroll_img scroll0" src="/media/scroll_dot.png" alt="이미지 없음"></a></li>
                    <li><a href="#section1"><img class="scroll_img scroll1" src="/media/scroll_dot.png" alt="이미지 없음"></a></li>
                    <li><a href="#section2"><img class="scroll_img scroll2" src="/media/scroll_dot.png" alt="이미지 없음"></a></li>
                </ul>
        </div>

    </body>
</html>