 <!DOCTYPE html>
 <html>
 <head>
     <title>Login</title>
     <link rel="stylesheet" href="/css/login.css">
     <link rel="stylesheet" href="/css/footer.css">
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/js/login.js"></script>
    <meta charset="UTF-8"/>
 </head>
 <body>
    <img id="back" src="/media/num.jpg"/>
     <div id="main_div">
        <div>
            <p id="p1">L O G I N<p>
            <p id="p2">Log to your account<p>
            <div>
                <form id="loginForm" name="loginForm" action="/login/process" method="POST" onsubmit="return checkLogin()">
                    <input type="text" name="username" id="username" placeholder="User name"/>
                    <input type="password" name="userpw" id="userpw" placeholder="password"/>
                    <input type="submit" name="lgbtn" id="lgbtn" value="Sign in"> <!--css button->#lgbtn으로 수정-->
                </form>
                <hr>
                <a href='/join'>Not a member yet?</a> <!--href-->

            </div>
         </div>
     </div>    
     <footer id="footer">
        <a href="/"><div id="footer_logo"><img style="width: 100%;" src="/media/logo_white_shadow.png"></div id="footer_logo"></a>
        <div class="info">
            IT THERE Corp.<br>
            CEO : 김예지, 이수아, 지수연<br>
            ADDRESS : 232, Gongneung-ro, Nowon-gu, Seoul<br>
            CONTANCT US : 02-970-0000
        </div>
        <div class="f_links">
            <a href="/">회 사 소 개</a> | <a href="/" target="_blank">약 관</a> | <a href="/" target="_blank">개 인 정 보 취 급 방 침</a>
        </div>
        <div class="copyright">
            Seoultech @ Advanced Web Programming<br>
            #dp.wl #heo.sua.b #ssuyeon © It There
        </div>
    </footer>
</body>
</html>