<!DOCTYPE html>
<html>
    <head>
        <title>Chatting</title>
        <link rel="stylesheet" href="css/manager_chatting.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="js/manager_chatting.js"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="menu_opa"></div>
        <div id="menu_list">
            <ul>
                <li><span>Profile</span></li>
                <li><span>Market</span></li>
                <li><span>Products</span></li>
                <li><span>Chatting</span></li>
            </ul>
        </div>
        <header>
            <div class="fix">
                <img src="media/logo_white.png" class="logo"/>
                <img src="media/menu.png" class="menu"/>
            </div>
            <div class="berlin"><img src="media/chatting_back.jpg"/></div>
            <div class="name"><p>C h a t t i n g</p>
                    <p>Answer questions and communicate with customers</p></div>
        </header>
    </body>
</html>