<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <link rel="stylesheet" href="/css/manager_market.css">
        <link rel="stylesheet" href="/css/footer.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="/js/manager_market.js"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="menu_opa"></div>
        <div id="menu_list">
            <ul>
                <li><span onclick="location.href='/manager/profile'">Profile</span></li>
                <li><span onclick="location.href='/manager/market'">Market</span></li>
                <li><span onclick="location.href='/manager/products'">Products</span></li>
                <li><span onclick="window.open('/chatting',name, 'resizable=no,width=500,height=700')">Chatting</span></li>
            </ul>
        </div>
        <header>
            <div class="fix">
                <img src="/media/logo_white.png" class="logo"/>
                <div class="session_info white">
                    <%= username %>님 환영합니다.
                    <a onclick="location.href='/logout'">로그아웃</a>
                </div>
                <img src="/media/menu.png" class="menu"/>
            </div>
            <div id="fix_hidden">
                <img src="/media/logo_black.png" class="logo"/>
                <div class="session_info black">
                    <%= username %>님 환영합니다.
                    <a onclick="location.href='/logout'">로그아웃</a>
                </div>
                <img src="/media/menu_black.png" class="menu"/>
            </div>
            <div class="berlin"><img src="/media/market_back_image.jpg"/></div>
            <div class="name"><p>M a r k e t</p>
                    <p>Add your own markets and modify information to show customers</p></div>
        </header>
        <div style="clear:both; height:500px;"></div>
        <section>
            <img src="/media/menu_line.png"/><p>M a r k e t</p>
            <div id="market_list">
               <img src="/media/arrow_left.png" class="arrow left"/>
               <div class="market_list_in">
                   <input type="text" id="s_idx" value="<%=market%>" readonly>
                   <input type="text" id="s_name" value="<%=market_name%>" readonly>
               </div>
               <img src="/media/arrow_right.png" class="arrow right"/>
           </div>
           <div id="market_info">
               <table class="list_table">
                   <colgroup>
                       <col width="10%"/>
                       <col width="40%"/>
                       <col width="20%"/>
                       <col width="20%"/>
                       <col width="10%"/>
                   </colgroup>

               </table>
               <table class="list_table2">
                   <colgroup>
                       <col width="10%"/>
                       <col width="40%"/>
                       <col width="20%"/>
                       <col width="20%"/>
                       <col width="10%"/>
                   </colgroup>
               </table>
          </div>

           <div id="buttonArea">
            <div id="market_modify" class="button"> 
                <h3>상점 수정</h3>
            </div>
            <div id="market_add" class="button" onclick="location.href='/manager/market/insert'">
                <h3>상점 추가</h3>
            </div>
            </div>
        </section>
        <footer id="footer">
            <a href="/"><div id="footer_logo"><img style="width: 100%;" src="/media/logo_white_shadow.png"></div id="footer_logo"></a>
            <div class="info">
                IT THERE Corp.<br>
                CEO : 김예지, 이수아, 지수연<br>
                ADDRESS : 232, Gongneung-ro, Nowon-gu, Seoul<br>
                CONTANCT US : 02-970-0000
            </div>
            <div class="f_links">
                <a href="/">회 사 소 개</a> | <a href="/" target="_blank">약 관</a> | <a href="/" target="_blank">개 인 정 보 취 급 방 침</a>
            </div>
            <div class="copyright">
                Seoultech @ Advanced Web Programming<br>
                #dp.wl #heo.sua.b #ssuyeon © It There
            </div>
        </footer>
   </body>
</html>