<!DOCTYPE html>
<html>

<head>
    <title>My Page</title>
    <link rel="stylesheet" href="/css/manager_profile.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="/js/manager_profile.js"></script>
    <meta charset="UTF-8" />
</head>

<body>
    <div id="menu_opa"></div>
    <div id="menu_list">
        <ul>
            <li><span onclick="location.href='/manager/profile'">Profile</span></li>
            <li><span onclick="location.href='/manager/market'">Market</span></li>
            <li><span onclick="location.href='/manager/products'">Products</span></li>
            <li><span onclick="window.open('/chatting',name, 'resizable=no,width=500,height=700')">Chatting</span></li>
            </ul>
    </div>
    <header>
        <div class="fix">
                <img src="/media/logo_white.png" class="logo"/>
                <div class="session_info white">
                    <%= username %>님 환영합니다.
                    <a onclick="location.href='/logout'">로그아웃</a>
                </div>
                <img src="/media/menu.png" class="menu"/>
            </div>
            <div id="fix_hidden">
                <img src="/media/logo_black.png" class="logo"/>
                <div class="session_info black">
                    <%= username %>님 환영합니다.
                    <a onclick="location.href='/logout'">로그아웃</a>
                </div>
                <img src="/media/menu_black.png" class="menu"/>
            </div>
        <div class="berlin"><img src="/media/manager_profile_back.jpg" /></div>
        <div class="name">
            <p>P r o f i l e</p>
            <p>Check your current informations and modify them</p>
        </div>
    </header>
    <div style="clear:both; height:500px;"></div>
	<input type="hidden" id="login_mode" value="">
    <section>
        <img src="/media/menu_line.png"/><p>P r o f i l e</p>
		<div id="form_div">
			<img src="/media/logo_black.png" id="vibrate_image"/>
			<form id="profileInfo">
				<div id="profile_db">
					<ul>
                        <li class="checkList"><h3>ID : </h3><input type="text" id="checkId" name="checkId" value="<%=username%>" readonly></li class="infoList">
                        <li class="checkList"><h3>Password : </h3><input type="password" id="checkPw" name="checkPw" value="" placeholder="비밀번호를 입력해주세요."></li class="infoList">
						<li class="infoList"><h3>Authority : </h3><input type="text" id="manager_mode" value="" readonly></li>
						<li class="infoList"><h3>ID : </h3><input type="text" id="manager_id" value="" readonly></li class="infoList">
						<li class="infoList"><h3>Password : </h3><input type="text" id="manager_password" value="" readonly></li class="infoList">
						<li class="infoList"><h3>Name : </h3><input type="text" id="manager_name" value="" readonly></li class="infoList">
					</ul>
				</div>
				<div id="buttons">
                    <div id="checkButton">
                        <h3>정보 확인</h3>
                    </div>
						<div class="modify_info info1">
							<h3 id="modifyStr">정보 수정</h3>
						</div>
						<div class="modify_info info2">
							<h3 id="modifyStr">확인</h3>
						</div>
						<div id="drop_info">
							<h3>탈퇴하기</h3>
						</div>
					</div>
			</form>
		</div>
    </section>
    <footer id="footer">
        <a href="/"><div id="footer_logo"><img style="width: 100%;" src="/media/logo_white_shadow.png"></div id="footer_logo"></a>
        <div class="info">
            IT THERE Corp.<br>
            CEO : 김예지, 이수아, 지수연<br>
            ADDRESS : 232, Gongneung-ro, Nowon-gu, Seoul<br>
            CONTANCT US : 02-970-0000
        </div>
        <div class="f_links">
            <a href="/">회 사 소 개</a> | <a href="/" target="_blank">약 관</a> | <a href="/" target="_blank">개 인 정 보 취 급 방 침</a>
        </div>
        <div class="copyright">
            Seoultech @ Advanced Web Programming<br>
            #dp.wl #heo.sua.b #ssuyeon © It There
        </div>
    </footer>
</body>

</html>