<!DOCTYPE html>
<html>
    <head>
        <title>User mypage</title>
        <link rel="stylesheet" href="css/mypage_check.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="/js/mypage_check.js"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <div class="fix">
                <img src="/media/logo_white_shadow.png" class="logo"/>
                <img src="/media/menu.png" class="menu"/>
            </div>
            <div class="berlin"><img src="/media/mypage_img.jpg"/></div>
            <div class="name"><p>M y P a g e</p>
                <p>Change your personal information</p></div>
        </header>
            <div style="clear:both; height:500px;"></div>
        <section>
            <img src="/media/mem_img.png"/><p>M y P a g e</p>
            <div class="wrapper">
                <div class="contents">
                    <p>비밀번호를 입력해주세요.</p>
                    <input type="password" name="userPw" id="userPw">
                    <button class="enter">확인</button>
                </div>
            </div>
        </section>
    </body>
</html>