<!DOCTYPE html>
<html>
    <head>
        <title>User mypage</title>
        <link rel="stylesheet" href="/css/mypage.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="/js/mypage.js"></script>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header>
            <div class="fix">
                <img src="/media/logo_white_shadow.png" class="logo"/>
                <img src="/media/menu.png" class="menu"/>
            </div>
            <div class="berlin"><img src="/media/mypage_img.jpg"/></div>
            <div class="name"><p>M y P a g e</p>
                <p>Change your personal information</p></div>
        </header>
            <div style="clear:both; height:500px;"></div>
        <section>
            <img src="/media/mem_img.png"/><p>M y P a g e</p>
            <div class="wrapper">
                <div class="contents">
                    <table id="table2" cellpadding=10px>
                        <tr>
                            <th>아이디<span>*</span></th>
                            <td><input name="userId" id="userId" readonly="readonly"></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input type="radio" name="r3" value="1" id="radio2_name"> USER
                                <input type="radio" name="r3" value="2"> MANAGER&nbsp;<span>*</span>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호<span>*</span></th>
                            <td><input type="password" name="userPw" id="userPw"></td>
                        </tr>
                        <tr>
                            <th>비밀번호 확인<span>*</span></th>
                            <td><input type="password" name="pwCheck" id="pwCheck"></td>
                        </tr>
                        <tr>
                            <th>비밀번호 찾기 질문</th>
                            <td>
                                <select name="Q" > 
                                    <option value="1">기억에 남는 추억의 장소는?</option> 
                                    <option value="2" selected>자신의 인생 좌우명은?</option>
                                    <option value="3">자신의 보물 제 1호는?</option>
                                    <option value="4" selected>자신의 가장 존경하는 인물은?</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호 찾기 답변</th>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <th>이름<span>*</span></th>
                            <td><input type="text" name="userName" id="userName"></td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>
                                <select name="numeber"> 
                                    <option value="1" selected>010</option> 
                                    <option value="2">011</option>
                                    <option value="3">017</option>
                                </select>
                                    &nbsp;-&nbsp;<input type="text" style="width:20%;" name="phone1" id="phone1">
                                    &nbsp;-&nbsp;<input type="text" style="width:20%;" name="phone2" id="phone2">
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <input type="text">
                                <em>(우편번호)</em><br>
                                <input type="text" style="width:60%;">
                                <em>(기본 주소)</em><br>
                                <input type="text" style="width:60%;">
                                <em>(나머지 주소)</em>
                            </td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td>
                                <input type="text"> @ 
                                <input type="text">
                                    <select name="numeber"> 
                                        <option value="1" selected>----이메일 선택----</option> 
                                        <option value="2">naver.com</option>
                                        <option value="3">daum.net</option>
                                        <option value="4">nate.com</option>
                                        <option value="5">gmail.com</option>
                                    </select>
                            </td>
                        </tr>
                        <tr>
                            <th>이메일 수신 여부</th>
                            <td>
                                    <input type="checkbox" value="1">동의함
                                    <em>쇼핑몰에서 제공하는 유익한 이벤트 소식을 이메일과 문자로 받아보실 수 있습니다.</em>
                            </td>
                        </tr>
                    </table><br><br>
                </div>
                <button class="submit">submit</button>
            </div>
        </section>
    </body>
</html>