<!DOCTYPE HTML>
<html>
    <head>
        <title>ItThere</title>
        <link rel="stylesheet" href="css/test.css">
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="js/test.js" type="text/javascript"></script>
    </head>
    <body>
        <video src="media/main_background_video.mp4" class="scroll1" autoplay loop>
            지원 안해조!?!?!?!?
        </video>
        <div class="section section0">
            <div class="center">
                <div>
                    <img class="img" src="media/logo_white.png"/>
                </div>
                <div>
                    <form>
                        <fieldset>
                        <input type="search" />
                        <button type="submit">
                            <img class="fa fa-search" src="media/main_search.png"/>
                        </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="mouse"></div>
        </div>
        <div class="section section1">
            <img src="media/block.jpg" class="block"/>
            <div class="user">
                <div class="login">
                    <p class="select">U S E R</p>
                    <div class="pop user_pop">
                        <p class="select_p">Record your search history and make it easy to buy</p>
                        <div class="select_div"><p>Login</p></div>
                    </div>
                </div>
            </div>
            <div class="manager">
                <div class="login">
                    <p class="select">M A N A G E R</p>
                    <div class="pop manager_pop">
                        <p class="select_p">Register for your store and manage merchandise comfortably</p>
                        <div class="select_div"><p>Login</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section2">
            <div class="product"><img src="media/chocolate.jpg"/><p>Maltesers</p><div class="searchfor"><p>Search for</p></div></div>
            <div class="product"><img src="media/chocolate.jpg"/><p>Maltesers</p><div class="searchfor"><p>Search for</p></div></div>
            <div class="product"><img src="media/chocolate.jpg"/><p>Maltesers</p><div class="searchfor"><p>Search for</p></div></div>
            <div class="product"><img src="media/chocolate.jpg"/><p>Maltesers</p><div class="searchfor"><p>Search for</p></div></div>
        </div>
        <div class="section section3">
            <video src="media/wow.mp4" autoplay loop width="100%">
                지원 안해조!?!?!?!?
            </video>
            <div class="up"></div>
            <div class="onvideo">
                <p></p>
            </div>
            <div class="down"></div>
        </div>
    </body>
</html>