header div {
  width:100%;
  background-color: #000000;
  height:100px;
  position:fixed;
  z-index: 1;
  background-color:rgba(255,255,255,0);
}

#s_idx, #results {
  display: none;
}


#menu_opa {
  width:100%;
  height:100%;
  position: fixed;
  z-index:10;
  background-color:black;
  opacity:0.7;
  visibility: hidden;
}

#menu_list {
  position: fixed;
  z-index:11;
  right:0;
  height:100%;
  width:35%;
  padding-top:7%;
  background-color:black;
  color:white;
  text-align:center;
  font:normal normal 25px sans-serif;
  visibility: hidden;
}

#menu_list li{
  list-style:none;
  padding:8%;
}

#menu_list span:hover {
  opacity:0.3;
  cursor:pointer;
}

#menu_list li:nth-child(2){
  color:#ceb980;
}

.name {
  text-align: center;
  margin-top:240px;
  color:#ffffff;
  font: normal normal 25px sans-serif;
}

.name {
  position: absolute;
  top:-10%;
      -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.name p:first-child {
  font-weight: bold;
  font-size:40px;
}

.fix {
position:fixed;
z-index:12;
}

.slide-top{
-webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.session_info {
color:white;
display: inline;
margin:40px auto;
position: absolute;
left:76%;
visibility: visible;
width:250px;
height:25px;
}

.session_info a {
text-decoration: underline;
margin-left:1%;
cursor:pointer;
}

.session_info a:hover {
opacity:0.5;
}

#fix_hidden {
position: fixed;
z-index:14;
}

.black {
color:black;
}

.logo {
  width:auto;
  height:70%;
  float:left;
  margin: 5px 0px 0px 10px;
  opacity:0.8;
  cursor:pointer;
}

.menu {
  width:auto;
  height:70%;
  float:right;
  margin:15px 30px 15px 15px;
  opacity:0.8;
  cursor:pointer;
}

.berlin {
  position: absolute;
  height:500px;
  overflow:hidden;
}

.berlin img {
  width:100%;
  -webkit-animation: kenburns-top 2s ease-out both;
              animation: kenburns-top 2s ease-out both;
}

body {
  margin:0px;
  overflow-x: hidden;
  width:100%;
  height:auto;
  font-family: sans-serif;
}

section {
  position: relative;
  margin:90px auto;
  width:60%;
  height:500px;
}

section>img {
  margin-left:100px;
  margin-right:20px;
  width:60px;
  height:auto;
  
}
section>p {
  display:inline;
  font: normal normal 25px sans-serif;
  color:black;
}

#market_list {
  width:100%;
  overflow: hidden;
  height:120px;
  border-radius:10px;
  background-color:rgba(229,217,215,0.6);
  margin-top:4%;
  text-align: center;
}

.market_list_in input{
  text-align:center;
  background-color:rgba(255,255,255,0.1);
  width:100%;
  color:black;
  margin-top:5%;
  font:normal bold 25px sans-serif;
  border:0px;
}

.list_table input, .list_table2 input {
  background-color:#ceb980;
  cursor:pointer;
}

#market_info {
  width:100%;
  height:600px;
  background-color:rgba(229,217,215,0.6);
  border-radius: 10px;
  margin-top:5%;
  overflow-x:hidden;
  text-align: center;
}

.list_table, .list_table2 {
  border-spacing:50px;
}

th {
  border-bottom: 1px solid grey;
  padding-bottom: 1%;
}

th input {
  visibility: hidden;
}

#buttonArea{
  text-align: center;
}



a{
      text-decoration: none;
}

.arrow {
width:5%;
height:auto;
position: absolute;
margin:25px;
cursor: pointer;
}

.left {
left:5%;
}

.right{
right:5%;
top:15%;

}
.button {
  background-color:#ceb980;
  width:20%;
  height:50px;
  margin:3% auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 20grey;
  cursor:pointer;
  opacity:0.5;
  display: inline-block;
}

.button:hover {
  -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
              animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  opacity:0.9;
}







@-webkit-keyframes kenburns-top {
100% {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-transform-origin: 50% 16%;
          transform-origin: 50% 16%;
}
0% {
  -webkit-transform: scale(1.25) translateY(-15px);
          transform: scale(1.25) translateY(-15px);
  -webkit-transform-origin: top;
          transform-origin: top;
}
}
@keyframes kenburns-top {
100% {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  -webkit-transform-origin: 50% 16%;
          transform-origin: 50% 16%;
}
0% {
  -webkit-transform: scale(1.25) translateY(-15px);
          transform: scale(1.25) translateY(-15px);
  -webkit-transform-origin: top;
          transform-origin: top;
}
}

@-webkit-keyframes slide-top {
0% {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-opacity:0;
          opacity:0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-opacity:1;
          opacity:1;
    
}
}

@keyframes slide-top {
0% {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-opacity:0;
          opacity:0;
}
100% {
  -webkit-transform: translateY();
          transform: translateY();
  -webkit-opacity:1;
          opacity:1;
}
}

@-webkit-keyframes focus-in-expand {
0% {
  letter-spacing: -0.5em;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  opacity: 0;
}
100% {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}
@keyframes focus-in-expand {
0% {
  letter-spacing: -0.5em;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  opacity: 0;
}
100% {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}

.rotate-center {
      -webkit-animation: rotate-center 0.6s ease-in-out both;
              animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@-webkit-keyframes shake-lr {
0%,
100% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
10% {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}
20%,
40%,
60% {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
30%,
50%,
70% {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
80% {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
90% {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}
}
@keyframes shake-lr {
0%,
100% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
10% {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}
20%,
40%,
60% {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
30%,
50%,
70% {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
80% {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
90% {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}
}

